body
{
margin-left:80px;
margin-top:20px;
background-color:#787878 ;


}
ul
{
list-style-type:none;
margin:0px;
padding:0px;
}
li
{
border-color:white;
background-color:#500000;
border-style:solid;
border-width:thin;
width:300px;
}
ul li.abc
{
float:left;
}
ul li ul li 
{
display:none;
}
ul li:hover ul li
{
display:block;
}

a
{
color:white;
text-decoration:none;
}

ul li.abc
{
float:left;
}
ul li ul li 
{
display:none;
}
ul li:hover ul li
{
display:block;
}





